server:
  port: 8080

logging:
  level:
    org:
      springframework:
        ai:
          chat:
            client:
              advisor: DEBUG

spring:
  application:
    name: chat-client-api
  ai:
    chat:
      client:
        enabled: false
    ollama:
      chat:
        model: gemma

